<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Details</title>
</head>
<body>
    <h1>Game Details</h1>
    <div th:if="${game}">
        <p>Name: <span th:text="${game.name}"></span></p>
        <a th:href="@{/download/{fileName}(fileName=${game.fileName})}">Download</a>
        <div th:if="${isHtml}">
            <iframe th:src="@{'/uploads/' + ${game.name} + '/index.html'}" width="600" height="400"></iframe>
        </div>
    </div>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
